@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
:root{
  --primary-color: #11121a;
  --hover-color: #272832;
  --accent-color: #0071FF;
  --text-color: #c9c9c9;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  font-family: Poppins, 'Segoe UI', sans-serif;
  color: var(--text-color);
  scroll-snap-type: y proximity;
}
body{
  min-height: 90dvh;
  background-color: var(--primary-color);
  scroll-behavior: smooth; 
}
main{
  padding: min(5em, 7%);
  
}
main p{
  margin-top: .35em;
}
nav{
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--hover-color);
  position: sticky; /* Make the navbar sticky */
  top: 0; /* Stick it to the top */
  z-index: 10;
  /* width: 100%; */
}
nav li{
  display: flex;
}
nav ul{
  list-style: none;
  display: flex;
}
nav .home-li{
  margin-right: auto;
}
nav a{
  display: flex;
  text-decoration: none;
  color: var(--text-color);
  padding: 1em 2em;
}
nav a:hover{
  background-color: var(--hover-color);
}
nav a.active-link{
  border-bottom: 2px solid var(--text-color);
}
nav a.accent-link{
  background-color: var(--accent-color);
}
#open-sidebar-button{
  display: none;
  background: none;
  border: none;
  padding: 1em;
  margin-left: auto;
  cursor: pointer;
}
#close-sidebar-button{
  display: none;
  background: none;
  border: none;
  padding: 1em;
  cursor: pointer;
}
#overlay{
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  z-index: 9;
  display: none;
}


.profileWrapper {
  scroll-snap-align: start;
  transform: translateY(20px);
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
}

.profileWrapper--visible {
  transform: translateY(0);
  opacity: 1;
}
.homeProfile, .aboutProfile , .skillsProfile, .projectsProfile, .contactProfile{
  padding-top: 25px;
  padding: 1rem;
  min-height: 100dvh;
  display: flex;
  align-items: center ;
  justify-content: center;
}


.aboutContainer, .skillsContainer, .projectsContainer, .contactContainer{
  width: 100dvh;
  justify-content: center ;
}

#profileTitle{
  font-size: 4em;
  color: white;
  
}


/* Home */
.homeContainer{
  display: flex;
  flex-direction: row;
}
.homeProfileBoxes{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
}
.homeProfileBoxes svg{
  height: 100px;
  width: 100px;
}
#welcomeMessage{
  color: white  ;
  align-content: flex-start;
  font-size: 90px;
}
.titleName{
  color: rgb(29, 24, 120);
}
#contactButtonContainer{
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
#contactButton{
  font-size: 22px; 
  padding: 26px 45px; 
  background-color: var(--accent-color);
  border: none; 
  border-radius: 18px; 
  cursor: pointer;
  transition: background-color 0.3s ease; 
  color: white;
}
#profileContactButton{
  text-decoration: none; 
}
#contactButton:hover {
  background-color: #2e46ff; 
}
#socials{
  align-items: center;
  justify-content: flex-start;
}
#profilePicture{
  
}
button:hover {
  background-color: #0056b3;
}



/* About */
.aboutProfile{
  font-size: 20px
}
.aboutMeContent{
  max-width: 80%;
}






/* Skills */
.skillsContainer{
  /* flex-wrap: wrap; */
}
.skillsProfileTitle{
  min-width: 10rem;
}
.skillsProfileBoxes{
  /* background-color: #0071FF;    */
  /* flex-wrap: wrap; */
}
.skillsProfileBoxes img{
  height: 400px;
  width: 400px;
}
.skillsListContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  max-height: 500px;
  max-width: 100%;
}
.skillsBoxes{
  /* border: 0.5px solid var(--hover-color);   */
  display: flex;
  flex-direction: row;
  height: 100px;
  min-width: 240px;
}
.skillsBoxes svg{
  height: 100px;
  width: 100px;
}
.skillsBoxesTitle{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

  




/* Porjects */
.projectsListContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.projectsListContainer a{
  text-decoration: none;
  color: #280e7f;
}
.projectsListContainer a:hover{
  color: #3e19ba;
}
.projectProfileTitle{
  display: flex;
}
.projectsProfileBoxes{
  position: relative;
  overflow: hidden;
  cursor: pointer;
  padding: 0.5rem;
}
#projectsListImage{
  height: 20dvh;
  width: 15dvw;
}
.projectsProfileBoxes img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.projectInfo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  text-align: center;
  opacity: 0; 
  transform: translateY(100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.projectsProfileBoxes:hover .projectInfo {
  opacity: 1;
  transform: translateY(0);
}




/* modal 2.0 */





/* image modal */
/* body.no-scroll {
  overflow: hidden;
}

.projectsProfileBoxes:hover img {
  opacity: 0.7;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  max-width: 80%;
  max-height: 80%;
  animation: zoom 0.6s;
}

#caption {
  color: white;
  text-align: center;
  margin-top: 10px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
}

.close:hover {
  color: #bbb;
}

Animation
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
} */









/* Contact */
.contactContainer{
  gap: 3em;
}
.contactListContainer{
  flex-direction: column;
  justify-content: space-between;
  padding-left: 8%;
  padding-right: 8%;
}
.contactProfileBoxes{
  /* background-color: #0022ff; */
  display: flex;
  align-items: center;
  padding: 1.5%;
}

.contactProfileBoxes textarea{
  height: 350px;
}
#contactTitle{
  font-size: 60px;
}
.senderName, .senderSubject, .senderEmail{
  padding: 2%;
  font-size: 23px;
}
.senderName, .senderEmail, .senderSubject, .senderMessage{
  width: 100%;
  height: 100%;
  border-radius: 8px; 
}
.senderMessage{
  font-size: 17px;
  padding: 2%;
}
.contactSendContainer {
  align-items: flex-end;
}
#contactSendContainer{
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.contactSendButton {
  font-size: 22px; 
  padding: 15px 30px; 
  background-color: var(--accent-color);
  color: white; 
  border: none; 
  border-radius: 8px; 
  cursor: pointer;
  transition: background-color 0.3s ease; 
}
.contactSendButton:hover {
  background-color: #0056b3;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
  text-align: center;
  font-size: 18px;
}







@media screen and (max-width: 700px) {
  html{
    scroll-snap-type: none;
  }
  #open-sidebar-button, #close-sidebar-button{
    display: block;
  }
  nav{
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: min(15em, 100%);
    z-index: 10;
    border-left: 1px solid var(--hover-color);
    transition: right 300ms ease-out;
    background-image: '/images/image-removebg-preview.png';
  }
  nav.show{
    right: 0;
  }
  nav.show ~ #overlay{
    display: block;
  }
  nav ul{
    width: 100%;
    flex-direction: column;
  }
  nav a{
    width: 100%;
    padding-left: 2.5em;
  }


  .homeProfile, .aboutProfile , .skillsProfile, .projectsProfile, .contactProfile{
    padding-top: 0;
    min-height: 70dvh;
  }

  #profileTitle{
    font-size: 55px;
  }


  /* Home */
  .homeProfile
  #welcomeMessage{
    font-size: 7dvh;
  }
  .homeContainer{
    flex-direction: column;
  }
  #contactButtonContainer{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
  #contactButton{
    font-size: 20px;
    padding: 12px 12px;                                 
  }
  .homeSocial-icon svg{
    gap: 1em;
  }
  #profilePicture img{
    height: 100%;
    width: 100%;
  }


  /* about */
  .aboutProfile{
    font-size: 15px
  }


  /* Skills */
  .skillsPorfileBoxes{
    background-color: #0071FF;
  }
  .skillsListContainer{
    max-height: 130dvh;
    justify-content: end;
  }
  .skillsBoxes{
    height: 55px;
  }
  .skillsBoxes svg{
    height: 55px;
    width: 55px;
  }
  .skillsBoxesTitle{
    font-size: 13px;
  }
  


  /* projects */
  #projectsListImage{
    height: 200px;
    width: 300px;
  }
 

  /* contact */

}